//fonts
@import url(http://fonts.googleapis.com/css?family=Roboto);

//variable
$primaryColor:   #0277bd;
$darkBgColor:    #263238;
$lightBgColor:   #f2f2f2;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;

//mixins and functions
@mixin breakpoint($class) {
	@if $class == xs {
		@media (max-width: 767px) {
			@content;
		}
	}

	@else if $class == sm {
		@media (min-width: 768px) {
			@content;
		}
	}

	@else if $class == md {
		@media (min-width: 992px) {
			@content;
		}
	}

	@else if $class == lg {
		@media (min-width: 1200px) {
			@content;
		}
	}

	@else if $class = xlg {
		@media (min-width: 1600px) {
			@content;
		}
	}

	@else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
