@import "common/common";

//main style
body {
	height: 100%;
  @include font-size(20px);
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

	@include breakpoint(sm) {
		@include font-size(28px);
	}
}

main {
  padding: 2rem;
}

ul {
  list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}
label {
  display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app {
  height: 100%;
  min-height: 100vh;
  background-color: $lightBgColor;
}
