@import "../common";

.converter {

  display:inline-block;
  background-color: darken( $lightBgColor, 10% );
  padding: 20px;
  @include breakpoint(sm) {
    padding: 40px;
  }

  .converter-label {
    @include font-size(16px);
    margin: 20px;
    display: block;
    position: relative;
    cursor: text;
    background-color: $lightBgColor;
  }

  .converter-text {
    padding: 10px 0 0 10px;
    margin: 0;
  }

  .converter-input {
    display: block;
    padding: 10px 0;
    margin: 0 20px 0 10px;
    color: $darkTextColor;
    background-color: $lightBgColor;
    border: none;
    position: relative;

    &:focus {
      outline: none;
    }

    &:focus + span::after {
      width: 100%;
      @include transition(width 1s);
    }
  }

  span::after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    bottom: -1px;
    background: $primaryColor;
    width: 0;
  }

  .converter-button {
    display: block;
    width: 100px;
    color: $darkTextColor;
    background-color: $lightBgColor;
    border: none;
    padding: 10px;
    margin: 0 auto;
    -webkit-transition: all .3s;
    outline: none;

    &:hover {
      outline: none;
      background-color: lighten( $lightBgColor, 30% );
    }
  }

  .converter-resoult {
    padding: 10px;
    width: auto;
    margin: 20px;
    height: 1.75rem;
    background: white;
  }
  .disabled {
    opacity: 0.3;
  }
}
