<div class="converter">
  <h4>numeral system converter</h4>
  <form name="converterForm">
    <label class="converter-label" >
       <p class="converter-text">convert value:</p>
       <!--i use here span because in input cant have :after and :before-->
       <input class="converter-input" type="text"  ng-model="vm.value" required><span></span>
    </label>
    <label class="converter-label">
       <p class="converter-text">from base:</p>
       <input class="converter-input" type="number" ng-model="vm.fromBase" required><span></span>
    </label>
    <label class="converter-label">
       <p class="converter-text">target base:</p>
       <input class="converter-input" type="number" ng-model="vm.toBase" required><span></span>
    </label>
    <button
      class="converter-button"
      ng-disabled="converterForm.$invalid"
      ng-class="{'disabled': converterForm.$invalid}"
      ng-click="vm.show()">
      convert
    </button>
  </form>
  <div class="converter-resoult">
    <p class="converter-text">{{vm.resoult}}</p>
  <div>
</div>
