<navbar></navbar>
<main>
  <div>
    <h4>Technology used for this project</h4>
    <ul>
      <li>ES 6 / Babel</li>
      <li>Angular 1.5</li>
      <li>UI Router</li>
      <li>Webpack</li>
    </ul>
  </div>
</main>
