@import "../common";

.navbar {
  height: 3rem;
  line-height: 3rem;
  background-color: $primaryColor;
  padding: 1rem 3rem ;

  ul {
    list-style-type: none;
    margin:0;
    padding:0;
  }

  li {
    display: inline;
    padding: 1rem;
  }

  a {
    color: $lightTextColor;

    &:hover {
      color: darken( $lightTextColor, 10% );
    }
  }
}
